<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213698548031-79s8hhigaolp5urbmbnso47q1m0h1pcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213698548031-79s8hhigaolp5urbmbnso47q1m0h1pcv</string>
	<key>API_KEY</key>
	<string>AIzaSyCxFt_e0MjOYV18fAcek7J5LbpzG3OTvOg</string>
	<key>GCM_SENDER_ID</key>
	<string>213698548031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calendarSharing</string>
	<key>PROJECT_ID</key>
	<string>calendar-sharing-634a4</string>
	<key>STORAGE_BUCKET</key>
	<string>calendar-sharing-634a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213698548031:ios:5b520f97bb7d09ac08438a</string>
</dict>
</plist>